Shop 

  {{#each products}}
        <div class="blog-div">
            <img class="admin-img" src="{{this.img}}" alt="image">
            <div class="text">
                <a href="/users/blog/{{this._id}}">
                    <h5>{{this.name}}</h5>
                </a>
                <div class="author">
                    <img src="https://images.pexels.com/photos/4965133/pexels-photo-4965133.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                        alt="image">
                    <a href="/users/profile/{{this.userid}}">
                        <h4> {{this.price}}</h4>
                        <h4> {{this.des}}</h4>
                    </a>
                    <a style="margin-left: 10px;" href="/delete/{{this._id}}">O</a>
                </div>
            </div>
        </div>
        {{/each}}
        